{% extends 'base.html' %}
{% load resizer %}
{% load markdownify %}


{% block content %}
<main class="recipe-detail">
  <div>
    <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
  </div>
  {% if recipe.image %}
  <img src="{{ recipe.image }}" class="pull-right">
  {% endif %}
  <h1>{{ recipe.name }}</h1>
  <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
  <p>
    Created on {{ recipe.created }} |
    Updated on {{ recipe.updated }}
  </p>
  {% if recipe.servings %}
  <p> Serves: {{ servings|default_if_none:recipe.servings }} </p>
  <form method="GET">
    {% comment %}
    The "name= " that we give it here, we use on the RecipeDetailView in recipes/views.py
    {% endcomment %}
    <input type="number" name="servings_resize_request" required>
    <button>Resize</button>
  </form>
  {% endif %}
  {% comment %} when the user clicks on the button, generate a POST request,
  and in that request, include this url.
  the url is 'recipe_rating' {% endcomment %}
  <form method="post" action="{% url 'recipe_rating' recipe.id %}">
    {% csrf_token %}
    <div class="rating-form-grid">
      {{ rating_form.as_p }}
      <button class="button">Rate</button>
    </div>
  </form>
  <p>Tags: {% for tag in recipe.tags.all %}{{ tag.word }} {% endfor %}</p>
  {{ recipe.description | markdownify }}
  <h2>Ingredients</h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">Amount</th>
        <th>Food item</th>
      </tr>
    </thead>
    <tbody>
      {% comment %}
      dissecting recipe.ingredients.all:
      recipe is the MODEL associated with this view/html
      ingredients is the RELATED_NAME for Ingredient in the foreignkey within Ingredient class
      .all is just the method to get all of them
      {% endcomment %}
      {% for ingredient in recipe.ingredients.all %}
      <tr>
        <td>{{ ingredient|resize_to:servings }}</td>
        <td>{{ ingredient.measure.name }}</td>
        <td>{{ ingredient.food.name }}</td>
        <td>
          {% comment %}
          dissecting the below if statement:
          "if the ingredient's food item is not in the food in the shopping list"
              (ingredient is the variable we're looping through from the for loop above)
              (ingredient.food is looking at the food property in the Ingredient model)
              (shopping_list is a key in the context dictionary in RecipeDetailView)
            show the + button
          otherwise
            show the message "in your list"
          {% endcomment %}
          {% if ingredient.food not in shopping_list %}
          <form method="POST" action="{% url 'shopping_item_create' %}">
            {% csrf_token %}
            <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}">
            <button>+shopping list</button>
          </form>
          {% else %}
          in your list
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Steps</h2>
  <ol>
    {% for step in recipe.steps.all %}
    <li>{{ step.directions }}</li>
    {% endfor %}
  </ol>
</main>
{% endblock content%}