{% extends 'base.html' %}

{% block content %}
<main>
  <h1>Your shopping list</h1>
  <div>
    <form method="POST" action="{% url 'shopping_items_deleteall' %}">
      {% csrf_token %}
      <button class="button">DELETE ALL</button>
    </form>
  </div>
  <ul>
    {% for shoppingitem in shoppingitem_list %}
    <li>{{ shoppingitem.food_item }}</li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}