{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="tag-detail">
  <div>
    <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
  </div>
  <h2>Recipes for {{ mealplan.name }} on {{ mealplan.date | date:"M j, o" }}</h2>
  {% comment %}
  dissecting mealplan.recipes.all:
  mealplan is the MODEL associated with this view/html
  recipes is the RELATED_NAME for recipes field in the ManyToManyField within MealPlan class
  .all is just the method to get all of them
  {% endcomment %}
  {% for recipe in mealplan.recipes.all %}
  <p>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
  </p>
  {% endfor %}
</main>
{% endblock content %}