{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'tags_list' %}">Tags</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'mealplans_list' %}">Meal Plans</a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li>
          {% comment %}
          **DONT TAKE THIS ONE AS AN EXAMPLE UNLESS WE'USING USER.___.all,
          SINCE THIS IS STILL NOT SUPER CLEAR TO ME**
          dissecting user.shopping_items.all:
          user is available in all context dictionarys for all views/htmls (per Curtis during 12H/24H demo)
          shopping_items is the RELATED_NAME for user field in the foreignkey within ShoppingItem class
          .all is just the method to get all of them
          {% endcomment %}
          <a href="{% url 'shopping_items_list' %}">Shop List ({{ user.shopping_items.all|length}})</a>
        </li>
        {% endif %}

        {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
      </ul>
    </nav>
    {% block pagination %}
    {% endblock pagination %}
  </header>


  {% block content %}
  {% endblock content %}
</body>

</html>